.industries_wrapper {
  width: 100%;
  padding: 4rem 3rem 2rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;

  .industry_grid ul {
    li {
      margin-bottom: 3rem;
    }

    li a {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1e2348;
      margin-bottom: 2rem;
    }

    li a:hover {
      border-bottom: 2px solid #040404;
    }
  }

  .industry_grid img {
    width: 100%;
  }
}
