.atc_container {
  position: relative;
  .atc_inner-wrap {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    color: #040404;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 857px;
    max-width: 1178px;
    flex: 100%;
    margin: 0 auto;
    .atc-img_wrap {
      position: relative;
      height: 781px;

      .imgOne {
        max-width: 515px;
        width: 100%;
        height: 80%;
        position: relative;
        bottom: -8%;
        right: 3%;
        transform: translate(-3%, 8%);
      }
      .imgTwo {
        position: absolute;
        top: 0;
        bottom: -15%;
        left: -69%;
        transform: translate(39%, 15%);
        z-index: -1;

        max-width: 590px;
        width: 100%;
        height: 100%;
      }
    }
    .atc-text_wrap {
      max-width: 542px;
      padding: inherit 20px;
      width: 100%;
      .atc-h1 {
        color: #484646;
        font-size: 36px;
        line-height: 64px;
      }
      .atc-p {
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .atc_container {
    margin: 12em auto 22em;
    .atc_inner-wrap {
      flex-direction: column;
      min-height: fit-content;
      .atc-img_wrap {
        .imgOne {
          max-width: 515px;
          width: 100%;
          text-align: center;
          height: fit-content;
          bottom: 0;
          right: 0;
          transform: translate(0, 0);
        }
        .imgTwo {
          display: none;
        }
      }
      .atc-text_wrap {
        padding: 0 1.5em;
        margin: 2em auto;
        min-height: fit-content;
      }
    }
  }
}
