@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

.tab-component-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background: #e5e5e5;
  .sec_container1 {
    width: 100%;
    margin: 0 auto;

    .sec_content--one {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-columns: 350px;
      // grid-template-rows: 1fr;
      gap: 5em;
      // max-width: 100%;
      width: 100%;
      margin: 5em auto;
      padding: 2em;

      // .bg-white-ff {
      //   background: #ffffff !important;
      // }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff !important;
        box-shadow: 0px 0px 5px 1px rgba(89, 89, 89, 0.1);
        border-radius: 4px;
        border-radius: 8px;
        padding: 80px 20px;
        // max-width: 331px;
        // height: 226px;
        width: 100%;
        // margin: 1em;
      }

      > * > img {
        height: 59.18px;
        max-width: 60px;
        width: 100%;
      }
      > * > p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #010101;
        margin-top: 10px;
        padding: 0 15px;
      }
    }
  }
}

// header styles
.sec_header {
  width: 100%;
  text-align: center;
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(4.8rem * var(--height-scale, 1));
  font-weight: 700;
  color: #c4c4c4;
  position: relative;
  margin: 2em auto 50px;
}

.sec_header h4 {
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(4.8rem * var(--height-scale, 1));
  font-weight: 700;
  color: #14151f;
  position: relative;
}

.sec_header h4::before,
.sec_header h4::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25%;
  height: 0.1rem;
  background: #c4c4c4;
}

.sec_header h4::before {
  left: 0;
}

.sec_header h4::after {
  right: 0;
}

@media screen and (max-width: 800px) {
  .tab-component-wrap {
    width: 100%;
    height: fit-content;
    margin-bottom: 15em;

    .sec_container1 {
      width: 100%;
      margin: 0 auto;

      > .sec_content--one {
        grid-template-columns: repeat(2, 1fr);
        margin: 5em auto !important;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .sec_content--2 {
    flex-direction: column-reverse;
    width: 100%;
    margin: unset;
    padding: unset;
    height: fit-content !important;

    .text_area {
      text-align: justify;
      // height: fit-content !important;
      margin: 2em auto;
      width: 100%;
      padding: 0;
      background: black;

      :first-child {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        h6 {
          text-align: center;
        }
      }
      > p {
        text-align: justify;
        padding: 5em auto;
        margin: 5em auto;
        width: 100%;
        height: fit-content;
      }
    }
  }

  .sec_container3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content !important;
    :first-child {
      // max-width: 646px;
      // width: 100%;
      height: fit-content !important;
    }
    :last-child {
      margin: 2em auto;
    }
  }

  .sec_header {
    margin: 1em auto 1.5em;
  }
  .sec_header h4::before,
  .sec_header h4::after {
    display: none;
  }
  .sec_content--one {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em;
    margin: 0 auto;
  }
  .sec_container2 {
    height: fit-content !important;
    justify-content: center;

    .sec-content {
      height: fit-content !important;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-bottom: 3.8em;
      }
    }
  }
}
