.help_wrapper {
  padding: 50px 0 120px;
  width: 100%;
  background: rgba(244, 244, 244, 0.74);

  h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #14151f;
    margin: 50px 0;
  }

  .help_contents {
    max-width: 100%;
    width: 1100px;
    margin-top: 50px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .team_cards {
      background: #0c193f;
      border-radius: 4px;
      padding: 0.5rem 2rem 1rem;
      border-top: 4px solid #040724;
      color: #ffffff;

      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #ffffff;
        // margin-bottom: 10px;
      }

      .card_contents {
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 23px;
          text-align: justify;
          color: #ffffff;
        }
      }

      .card_footers {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        p {
          font-style: normal;
          font-weight: 800;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
          margin-top: 1rem;
          cursor: pointer;
        }
        img {
          width: 10.87px;
          height: 10px;
          margin-top: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .help_wrapper {
    max-width: 1300px;
    padding: 50px 0;
    width: 100%;
    .help_contents {
      max-width: 1100px;
      width: 100%;
      margin-top: 50px;
      display: block;
    }
    .team_cards {
      margin: 2em 1em 5em;
    }
  }
}
