.security_hero {
  width: 100%;
  color: aliceblue;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../images/security-hero.png") 50% / cover no-repeat;

  .security_hero_content {
    padding: 220px 50px 50px 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .security_hero_info {
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #ffffff;
        text-transform: uppercase;
      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 80px;
        letter-spacing: -0.03em;
        color: #f6f7fe;
      }

      p {
        margin: 16px 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #f6f7fe;
      }
    }
  }

  .security_hero_extra {
    .related_services {
      margin-top: 70px;
      background: rgba(239, 243, 255, 0.18);
      opacity: 1;
      border-radius: 4px;
      padding: 3rem;

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #ffffff;
      }

      ul {
        padding-left: 0;

        li {
          margin: 8px 0px;
        }
      }

      ul > li > a {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #ebebeb;
        
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .security_hero_extra {
    display: none;
  }

  .security_hero {
    width: 100%;
    .security_hero_content {
      padding: 120px 20px 100px 20px;
      width: 100%;
      margin: 0 auto;

      .security_hero_info {
        h1 {
          font-size: 18px;
          line-height: 26px;
        }
  
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
  
        p {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .security_hero_extra {
    display: none;
  }

  .security_hero {
    width: 100%;
    .security_hero_content {
      padding: 140px 20px 100px 20px;
      width: 100%;
      margin: 0 auto;

      .security_hero_info {
        h1 {
          font-size: 18px;
          line-height: 26px;
        }
  
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
  
        p {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}