.about_tab_wrapper {
  .about_tabs {
    padding: 3rem;
    background: #ffffff;
    box-shadow: 0px 6px 34px rgba(116, 116, 116, 0.15);

    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: #1e2348;
        cursor: pointer;
      }

      .tab_active {
          font-weight: bold;
      }
    }
  }
}
