.what-we-do-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem 2rem 2rem 8rem;

  .single-nav-links h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #484646;
    margin: 1rem 0;
  }

  .single-nav-links .what-we-do-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      margin-bottom: 1rem;
    }

    li a {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      color: #040404;

      span {
        margin-right: 3px;
      }
    }

    li a:hover {
      border-bottom: 2px solid #040404;
    }
  }

  .public-img {
    img {
      width: 100%;
    }
  }
}
