.portfolio_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 4rem 3rem 2rem 8rem;

  .portfolio-links ul {
    li {
      margin-bottom: 2rem;
    }

    li a {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1e2348;
      margin-bottom: 3rem;
    }

    li a:hover {
      border-bottom: 2px solid #040404;
    }
  }

  .portfolio-img {
    img {
      width: 100%;
    }
  }
}
