.insight_details--hero {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../images/Rectangle-32.svg") 50% / cover no-repeat;
}

.insight_details--hero_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: flex-start;
  padding: 257px 16px 203px;
}

.insight_details--hero_info h1 {
  font-size: calc(7.2rem * var(--type-scale, 1));
  line-height: calc(8rem * var(--height-scale, 1));
  font-weight: bold;
  letter-spacing: -0.03em;
  color: #f6f7fe;
  margin-top: 2rem;
}

.insight_details--hero_info h4 {
  font-size: calc(3.5rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  letter-spacing: 0.02em;
  color: #f6f7fe;
}
.insight_sub {
  padding: 100px 250px;
}
.insight_sub_section,
.insight_sub_sub_section {
  padding: 0 250px;
}
.insight_sub p,
.insight_span_p {
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.insight_span_p {
  color: #040404;
}
.insight_sub p {
  color: #505050;
}
.insight_sub span {
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  color: darkblue;
}
.insight_sub_section_hero {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../images/Rectangle-2022.svg") 50% / cover no-repeat;
  margin: 50px 0;
}
.insight_sub_section h1,
.insight_sub_sub_section h1 {
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.insight_sub_sub_section h1 {
  margin: 50px 0;
}
.insight_sub_section p,
.insight_sub_sub_section p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.text_section {
  width: 60%;
}
.img_section {
  width: 30%;
}
.bullet_section {
  max-width: 947px;
}
.bullet_section p {
  position: relative;
  margin-left:20px;
}
.bullet_section p::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: -1.7rem;
  height: 0.7rem;
  width: 0.7rem;
  background: #040404;
  border-radius: 5rem;
}

@media only screen and (min-width: 985px) {
  .insight_details-hero_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .insight_details--hero_info {
    width: 100%;
    max-width: 637px;
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 903px) {
  .insight_details--hero_content {
    padding: 110px 16px;
  }
}

@media (max-width: 600px) {
  .insight_details_section .insight_details_section_header {
    font-size: 32px;
  }
  .insight_details--hero_content {
    padding: 110px 16px;
  }
}
