@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

.wrap-about_page {
  display: block;
}
.bg-overlay {
  display: none;
}

.bg_styles--1,
.bg_styles--2,
.bg_styles--3,
.bg_styles--4,
.bg_styles--5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 92vh;
  min-height: fit-content;
  top: 0;
  bottom: 0;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
  }
}

.bg_styles--1 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../../images/about-hero1.png") 50% / cover no-repeat !important;
}
.bg_styles--2 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../../images/about-hero2.png") 50% / cover no-repeat !important;
}
.bg_styles--3 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../../images/about-hero3.png") 50% / cover no-repeat !important;
}
.bg_styles--4 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../../images/about-hero4.png") 50% / cover no-repeat !important;
}
.bg_styles--5 {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.83) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("../../../images/about-hero5.png") 50% / cover no-repeat !important;
}

.about_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-9%, -50%);
  color: white;
  max-width: 632px;
  height: 150px;
  width: 100%;
  padding: 1em;

  h1 {
    max-width: 554px;
    width: 100%;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }

  p {
    max-width: 632px;
    width: 100%;
    height: 64px;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
}
// }

@media screen and (max-width: 600px) {
  .hero {
    .bg_styles--1,
    .bg_styles--2,
    .bg_styles--4,
    .bg_styles--5 {
      min-height: fit-content;
      height: 50vh;
    }

    .about_text {
      text-align: center;
      position: absolute;
      top: 15%;
      left: 9%;
      transform: translate(-9%, -15%);

      min-height: fit-content;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
