@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

.aero-about {
  max-width: 100%;
  width: 80%;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  word-wrap: break-word;
  padding: 0.7em;
  margin: 5em auto;
}

/* wwd */
.wwd-row1 {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap-reverse; */
  /* max-width: 95%; */
  width: 100%;
  /* justify-content: flex-start; */
  /* column-gap: 20px; */
  /* align-items: flex-end; */
  margin: 0 auto;
}

.wwd-img {
  /* align-self: flex-end; */
  /* max-width: 520px; */
  width: 100%;
  /* height: 456px; */
  /* margin-top: 5em; */
  /* margin: inherit auto; */
}

.wwd-img > img {
  /* margin: 2em auto; */
  /* height: 100%; */
  width: 100%;
}

.sec {
  margin: 10em auto;
}

.custom-header {
  width: 100%;
  text-align: center;
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(4.8rem * var(--height-scale, 1));
  font-weight: 700;
  color: #14151f;
   position: relative;
}

 .custom-header h4::before,
 .custom-header h4::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 33%;
  height: 0.1rem;
  background: #c4c4c4;
}

 .custom-header h4::before {
  left: 0;
}

 .custom-header h4::after {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .wwd-row1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
}