@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

.saved_jobs_tab_content {
  max-width: 100%;
  width: 900px;
  margin: 7rem auto;

  .saved_jobs_tab_info {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    padding: 0 3.5rem;

    .tab_info_h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 41px;
      line-height: 55px;
      color: #333333;
      margin-bottom: 0;
    }

    .tab_info_p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      margin-bottom: 3.5rem;
    }
  }
}
#root > div > section:nth-child(2) > div > div.saved_jobs_tabs_contents > div > div > div > div.vacancy-grid{
  gap: 50.93px !important;
  margin-top:15px!important;
}
.card_title {
  font-size: 24px;
  font-style: normal;
  color: #484646;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0 10px;
}
.card_sub_title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  color: #040404;
}
.card_body_text{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #878787;
  margin: 20px 30px;
}
.card_footer{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color:#1E2348;
  margin-bottom:20px!important;
}
@media only screen and (max-width: 400px) {
  .card{
    padding:0 10px;
  }
  .card-img-top{
    width:80%;
  }
}