@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

/* Utils */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 1rem 2rem;
}

/* Nav section */

.nav_bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 8vh;
  grid-column-gap: 5rem;
  padding: 0 4rem 0 8rem;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.949) 33.86%,
    rgba(0, 0, 0, 0) 114.81%
  );
}

.nav_list,
.nav_right-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_btn,
.nav_right-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: #ffffff;
  font-size: calc(1.4rem * var(--type-scale, 1));
  line-height: calc(1.7rem * var(--height-scale, 1));
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav_btn svg,
.nav_right-btn svg {
  margin-left: 1rem;
}

.nav_right-item > span {
  padding: 1rem 2rem;
}

.cta-btn {
  border: 1px solid #f7f7f7;
  border-radius: 0.4rem;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  font-size: calc(1.4rem * var(--type-scale, 1));
  line-height: calc(1.7rem * var(--height-scale, 1));
  margin: 0 2rem;
}

/* Hero section */

.hero {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.949) 33.86%,
    rgba(0, 0, 0, 0) 114.81%
  );
}

.hero_content {
  height: 92vh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  padding: 3rem 0 3rem 15rem;
}

.hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero_bg img {
  width: 100%;
  height: 100%;
}

.hero_info h1 {
  font-size: calc(7.2rem * var(--type-scale, 1));
  line-height: calc(8rem * var(--height-scale, 1));
  font-weight: bold;
  letter-spacing: -0.03em;
  color: #f6f7fe;
  margin-bottom: 2rem;
}

.hero_info p,
.hero_nav-list a {
  font-size: calc(2rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  letter-spacing: 0.02em;
  color: #f6f7fe;
}

.hero_nav-list {
  display: flex;
  list-style: none;
}

.hero_nav-item {
  flex-basis: 22%;
}

.hero_nav-item a {
  text-decoration: none;
}

/* Sub navigation */

.sub_nav {
  box-shadow: 0px 6px 34px rgba(116, 116, 116, 0.15);
  background: #fff;
  height: 8vh;
  padding: 0 10rem;
}

.sub_nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style: none;
}

.sub_nav-link {
  color: #1e2348;
  font-size: calc(2rem * var(--type-scale, 1));
  line-height: calc(2rem * var(--height-scale, 1));
  font-weight: 400;
  text-decoration: none;
}

/* Goals Section */

.goals {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15rem;
}

.goals_content {
  flex-basis: 30.5%;
}

.goals_content h2 {
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(5.6rem * var(--height-scale, 1));
  font-weight: 700;
}

.goals_content p {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(2.5rem * var(--height-scale, 1));
  font-weight: 400;
}

.goals_img img {
  max-width: 100%;
  height: auto;
}

/* Our Work section */

/* Reason to join section */

.reason {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
}

.reason_intro {
  flex-basis: 30%;
}

.reason_intro h3 {
  font-size: calc(6rem * var(--type-scale, 1));
  line-height: calc(7.344rem * var(--height-scale, 1));
  font-weight: 800;
  color: #484646;
  margin-bottom: 1rem;
}

.reason_intro p {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(2.5rem * var(--height-scale, 1));
  font-weight: 400;
  color: #040404;
  margin-bottom: 2rem;
}

.reason_intro h4 {
  font-size: calc(2.6rem * var(--type-scale, 1));
  line-height: calc(3.546rem * var(--height-scale, 1));
  font-weight: 400;
  color: #040404;
}

.reason_list {
  flex-basis: 50%;
}

.reason_item {
  margin-bottom: 5rem;
}

.reason_item:last-child {
  margin-bottom: 0;
}

.reason_item header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5rem;
  align-items: flex-start;
}

.label h4 {
  font-size: calc(2rem * var(--type-scale, 1));
  line-height: calc(3.15rem * var(--height-scale, 1));
  font-weight: 400;
}

.reason_item-header {
  font-size: calc(2.8rem * var(--type-scale, 1));
  line-height: calc(3.15rem * var(--height-scale, 1));
  font-weight: 800;
  color: #484646;
}

.item_content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5rem;
  align-items: flex-start;
}

.placeholder {
  width: 10.7rem;
}

.item_content p {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(2.5rem * var(--height-scale, 1));
  font-weight: 400;
  color: #040404;
}
.reasons_inner div {
  display: flex;
  align-items: center;
}

.reasons_inner svg,
.inner_line {
  margin: 0 1rem;
}

.inner_line {
  display: inline-block;
  width: 4.8rem;
  height: 0.2rem;
  background: #040404;
}

.inner_vert {
  height: 4.5rem;
  width: 0.2rem;
  background: repeating-linear-gradient(
    to bottom,
    #040404 0%,
    #fff 45%,
    #040404 45%,
    #fff 50%
  );
  margin-left: 3rem;
}

/* Testimoninial */

.testimonial {
  min-height: 100vh;
  display: grid;
  align-items: center;
  background: #f7f7f7;
  padding: 2rem 7rem;
  color: #070c25;
}

.testimonial header {
  text-align: center;
}

.testimonial h3 {
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(4.8rem * var(--height-scale, 1));
  font-weight: 700;
  color: #14151f;
  position: relative;
}

.testimonial h3::before,
.testimonial h3::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  height: 0.1rem;
  background: #c4c4c4;
}

.testimonial h3::before {
  left: 0;
}

.testimonial h3::after {
  right: 0;
}

.testify_card {
  background: transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.testify_card h5 {
  font-size: calc(1.4rem * var(--type-scale, 1));
  line-height: calc(2.8rem * var(--height-scale, 1));
  font-weight: bold;
  color: #1522af;
}

.testify_card p {
  font-size: calc(1.6rem * var(--type-scale, 1));
  line-height: calc(2.4rem * var(--height-scale, 1));
  font-weight: 400;
}

.card_img-top {
  height: 26.9rem;
}

.first_test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_test-row h4 {
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(6.3rem * var(--height-scale, 1));
  font-weight: 400;
  text-align: center;
}

.first_test-row article {
  flex-basis: 29.333%;
}

.second_test-row {
  display: flex;
  justify-content: space-between;
}

.second_test-row article {
  flex-basis: 29.333%;
}

/* Challenging Questions Section */

.questions {
  padding: 2rem 18rem;
  min-height: 50vh;
  display: grid;
  align-items: center;
}

.questions section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  justify-items: center;
}

.questions h3 {
  font-size: calc(3.5rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #040724;
  text-align: center;
  margin-bottom: 2rem;
}

.questions p {
  font-size: calc(1.6rem * var(--type-scale, 1));
  line-height: calc(2.6rem * var(--height-scale, 1));
  font-weight: bold;
  letter-spacing: 0.04em;
  color: #7579a3;
  text-align: center;
}

.questions .box {
  padding: 2rem;
  width: 11.6rem;
  height: 6.1rem;
  font-size: calc(1.5rem * var(--type-scale, 1));
  line-height: calc(1.65rem * var(--height-scale, 1));
  font-weight: 600;
  border: 1px solid #d4d4d4d4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Join Team section */

.join_team {
  min-height: 80vh;
  padding: 2rem 15rem;
  background-image: linear-gradient(
      to right,
      rgba(4, 7, 36, 0.5),
      rgba(4, 7, 36, 0.5)
    ),
    url("./images/join-team.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join_team h3 {
  font-size: calc(4.6rem * var(--type-scale, 1));
  line-height: calc(6.274rem * var(--height-scale, 1));
  font-weight: 800;
  color: #ffffff;
}

.join_team > header {
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.join_team > section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 4rem;
}

.team_card {
  background: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #040724;
}

.team_card header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
  font-size: calc(2.4rem * var(--type-scale, 1));
  line-height: calc(4rem * var(--height-scale, 1));
  font-weight: 700;
}

.team_card .card_content {
  font-size: calc(1.6rem * var(--type-scale, 1));
  line-height: calc(2.5rem * var(--height-scale, 1));
  font-weight: 400;
}

.team_card .card_footer {
  display: flex;
  margin-top: 1rem;
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(4rem * var(--height-scale, 1));
  font-weight: 400;
}

.team_card .card_footer p {
  margin-right: 1rem;
}

/* Insight section */

.insight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insight header {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

.insight h3 {
  font-size: calc(4rem * var(--type-scale, 1));
  line-height: calc(4.8rem * var(--height-scale, 1));
  font-weight: 700;
  color: #14151f;
  position: relative;
}

.insight h3::before,
.insight h3::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  height: 0.1rem;
  background: #c4c4c4;
}

.insight h3::before {
  left: 0;
}

.insight h3::after {
  right: 0;
}

.insight_content {
  display: flex;
  padding: 0 15rem;
}

.insight .first_column,
.insight .second_column {
  height: 75vh;
}

.insight .first_column {
  background-image: url("./images/tech.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.disruption {
  background: #1d1b1b;
  color: #ffffff;
  width: 100%;
  max-width: 45%;
  height: 100%;
  max-height: 50%;
  display: grid;
  align-items: center;
  padding: 0 3rem;
  position: relative;
}

.disruption::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: -4rem;
  border: 2rem solid;
  border-color: transparent #1d1b1b transparent transparent;
}

.insight .first_column h4 {
  font-size: calc(2.4rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  font-weight: 700;
}

.insight .first_column p {
  font-size: calc(1.6rem * var(--type-scale, 1));
  line-height: calc(2.6rem * var(--height-scale, 1));
  font-weight: 400;
}

.disruption p.more_info {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  font-weight: 700;
}

.insight .second_column {
  flex: 1;
  display: grid;
}

.insight .second_column h4 {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(2.6rem * var(--height-scale, 1));
  font-weight: 700;
}

.insight .second_column p {
  font-size: calc(1.6rem * var(--type-scale, 1));
  line-height: calc(2.6rem * var(--height-scale, 1));
  font-weight: 400;
}

.insight .second_column div:first-child {
  display: flex;
}

.second_column div article {
  flex: 1 1 50%;
  padding: 0 3rem;
  display: grid;
  align-items: center;
}

.insight .second_column div:last-child {
  display: flex;
}

.robot_bg {
  background-image: url("./images/future.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  flex: 1 1 50%;
}

.analysis_bg {
  background-image: url("./images/analysis.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  flex: 1 1 50%;
}

.complexity {
  background: #2f356a;
  color: #fff;
  position: relative;
}

.complexity::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: -4rem;
  border: 2rem solid;
  border-color: transparent #2f356a transparent transparent;
}

.evolution p.more_info,
.complexity p.more_info {
  font-size: calc(1.8rem * var(--type-scale, 1));
  line-height: calc(3.2rem * var(--height-scale, 1));
  font-weight: 700;
}

.evolution .more_info {
  color: #222fcc;
}

.insight_footer {
  padding: 4rem 0;
  text-align: center;
}

.insight_btn {
  background: #1522af;
  color: #ffffff;
  padding: 1rem 2.5rem;
  border: 1px solid #1522af;
  border-radius: 4px;
}

/* Assurance section */

.assurance {
  background-image: url("./images/rect.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 30vh;
  color: #fff;
  padding: 2rem 12rem;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.assurance_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assurance_content header {
  flex-basis: 55%;
}

.assurance_content h3 {
  font-size: calc(4.8rem * var(--type-scale));
  line-height: calc(5.6rem * var(--height-scale));
  font-weight: 700;
}

.assurance_content .btn_wrapper {
  flex-basis: 35%;
  text-align: center;
}

.request_btn {
  padding: 1.6rem 3.2rem;
  background: #f6f7fe;
  border: 1px solid #f6f7fe;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.assurance_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(1.4rem * var(--type-scale));
  line-height: calc(2.4rem * var(--height-scale));
  font-weight: 400;
}

.assurance_footer div {
  display: flex;
  align-items: center;
}

.assurance_footer img {
  margin-right: 1rem;
}

/* Footer */

.footer {
  padding: 2rem 22rem;
  min-height: 60vh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.footer h4 {
  font-size: calc(2rem * var(--type-scale));
  line-height: calc(3.2rem * var(--height-scale));
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer p,
.footer a {
  font-size: calc(1.4rem * var(--type-scale));
  line-height: calc(2.4rem * var(--height-scale));
  font-weight: 400;
}

.footer ul {
  list-style: none;
}

.main_footer-content {
  display: flex;
}

.main_footer-content a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 0;
}

.footer_header {
  flex: 1;
}

.sub_footer-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.bottom_footer {
  padding: 2rem 0;
  border-top: 1px solid #14151f;
  display: flex;
  justify-content: space-between;
}

.social_list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1rem;
  align-items: center;
}
